@import url('https://fonts.googleapis.com/css?family=Nunito');

* {
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
}
.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  overflow: hidden;
}
.App > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

/* Tinder card */

#viewport {
    transform: scale(0.6);
    border-radius: 5px;
    width: 500px;
    height: 500px;
    background: rgb(192, 192, 192);
    border: 10px solid rgb(100, 100, 100);
    margin: 100px auto 0;
    position: relative;
}

#viewport .card {
    width: 200px;
    height: 300px;
    list-style: none;
    background: #fff;
    border-radius: 5px;
    position: absolute;
    top: calc(100px - 10px);
    left: calc(150px - 10px);
    box-shadow: 0 0 2px rgba(0,0,0,.2), 1px 1px 1px rgba(0,0,0,.2);
    line-height: 300px;
    text-align: center;
    font-size: 100px;
    border: 10px solid #ECECEC;
    box-sizing: border-box;
    cursor: default;
}
#viewport .in-deck:nth-child(3) {
    top: 2px; transform: translate(2px, 2px) rotate(0.4deg);
}
#viewport .in-deck:nth-child(2) {
    top: 4px; transform: translate(-4px, -2px) rotate(-1deg);
}
.control {
    width: 100%;
    text-align: center;
    font-size: 0;
    margin: 20px;
    display: flex;
    justify-content: center;
}
.control button {
    display: flex;
    align-items: center;
    border: 5px solid rgb(100, 100, 100);
    border-radius: 50px;
    padding: 15px 40px;
    font-weight: lighter;
    color: rgb(100, 100, 100); font-weight: bold; font: normal 30px/24px 'Helvetica Neue', Helvetica, Arial, freesans, sans-serif; margin: 0 5px; cursor: pointer; outline: none; position: relative;
}
.control button p {
  margin: 0 10px;
}
.source {
    width: 500px; margin: 20px auto;
}
.source a {
    color: #C7433E;
}

/* Notify */
#notification-wrapper .toast-notification {
  width: 320px !important;
  left: 0 !important;
  transform: translateY(108px) !important;
}

#notification-wrapper .toast-notification span {
  display: block !important;
  border: 5px solid rgb(100, 100, 100);
  padding: 20px 10px !important;
  line-height: 40px;
  font-size: 20px;
}

/* SIMPLE RWD */
@media screen and (max-width: 768px) {
  #viewport {
      transform: scale(1);
      width: 80vw;
      height: 80vw;
      margin: 100px auto 0;
  }
  #viewport .card {
      width: 40vw;
      height: 60vw;
      position: absolute;
      top: calc(20vw / 2 - 10px);
      left: calc(40vw / 2 - 10px);
  }
  .control {
    flex-direction: column;
    align-items: center;
  }
  .control button {
      width: 50%;
      max-width: 300px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 10px 0;
      padding: 5px 20px;
      font-size: 16px;
  }
  /* Notify */
  #notification-wrapper .toast-notification {
    width: 300px !important;
    left: 50% !important;
    transform: translate(-50%, 108px) !important;
  }

  #notification-wrapper .toast-notification span {
    padding: 10px 10px !important;
    line-height: 32px;
    font-size: 16px;
  }
}
